.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "AkzidenzGrotesk";
  src: url("../fonts/AkzidenzGrotesk-BoldCondItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  background-color: #2b2b2b;
  scroll-behavior: smooth;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(43, 43, 43, 1),
    rgba(31, 31, 31, 1)
  );
  padding: 0 10%;
}

header img {
  height: 40px;
}

header nav {
  display: flex;
  gap: 1rem;
}

header nav a {
  font-size: 18px;
  font-weight: 400;
  padding: 0 1rem;
}

header nav a:hover {
  color: #9bf57f;
  font-weight: 600;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 4px;
  width: 25px;
  background-color: white;
  margin: 3px 0;
  transition: 0.4s;
}

main .heroBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  overflow: hidden;
}

main .heroBanner img {
  width: 100vw;
}

main .heroBanner::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: -1px;
  background: url(../img/curva.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom center;
}

main .intro .intro1 {
  margin-top: 5%;
  padding: 5% 10%;
  background: linear-gradient(
      to left,
      rgba(43, 43, 43, 0) 0%,
      rgba(43, 43, 43, 1) 40%
    ),
    url(../img/bg.png);
  background-position: center, center;
}

main .intro .intro1 h1 {
  font-size: 3rem;
  width: 65%;
  font-weight: 400;
}

main .intro .intro2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  padding: 0 10%;
  background: linear-gradient(
      to right,
      rgba(43, 43, 43, 0) 0%,
      rgba(43, 43, 43, 1) 40%
    ),
    url(../img/bg.png);
  background-position: center, center;
}

main .intro .intro2 img {
  width: 20%;
}

main .intro .intro2 h2 {
  font-size: 2rem;
  font-weight: 400;
  b {
    color: #9bf57f;
  }
}

main section {
  padding: 5% 10%;
  border-bottom: black 1px solid;
}

main section h3 {
  font-family: "AkzidenzGrotesk", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 3rem;
  font-weight: 300;
  span {
    font-family: "AkzidenzGrotesk", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #9bf57f;
  }
}

main section .subtitulo {
  font-style: italic;
}

.familiaProductos {
  padding-bottom: 0;
}

section .familias {
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-size: clamp(1.5rem, 2vw, 2rem);
  text-align: center;
  p {
    font-family: "AkzidenzGrotesk", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: black;
  }
}

section .familias .box1 {
  width: 25%;
  margin: 130px 10px;
  background-color: #0091f4;
  position: relative;
  border-radius: 15px;
  padding: 130px 10px 50px;
  box-sizing: border-box;
}

section .familias .box1 img {
  position: absolute;
  top: -90px;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 180px;
  transition: top 0.3s ease;
}

section .familias .box1:hover img {
  top: -120px;
}

section .familias .box2 {
  width: 25%;
  margin: 130px 10px;
  background-color: #ff7639;
  position: relative;
  border-radius: 15px;
  padding: 130px 10px 50px;
  box-sizing: border-box;
}

section .familias .box2 img {
  position: absolute;
  top: -90px;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 180px;
  transition: top 0.3s ease;
}

section .familias .box2:hover img {
  top: -120px;
}

section .familias .box3 {
  width: 25%;
  margin: 130px 10px;
  background-color: #9df77f;
  position: relative;
  border-radius: 15px;
  padding: 130px 10px 50px;
  box-sizing: border-box;
}

section .familias .box3 img {
  position: absolute;
  top: -90px;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 180px;
  transition: top 0.3s ease;
}

section .familias .box3:hover img {
  top: -120px;
}

section .familias .box4 {
  width: 25%;
  margin: 130px 10px;
  background-color: #ffe448;
  position: relative;
  border-radius: 15px;
  padding: 130px 10px 50px;
  box-sizing: border-box;
}

section .familias .box4 img {
  position: absolute;
  top: -90px;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 180px;
  transition: top 0.3s ease;
}

section .familias .box4:hover img {
  top: -120px;
}

.whatsapp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  font-size: 40px;
  color: white;
  background-color: #25d366;
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.comprar .pasos {
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
  text-align: center;
  .paso {
    width: 30%;
    img {
      height: 100px;
      margin: 3rem 0 2rem;
    }
  }
  .separador {
    position: relative;
    bottom: -3rem;
    width: 2px;
    height: 3rem;
    margin: 0 2rem;
    background-color: #9bf57f;
  }
}

.nosotros,
.blog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  padding: 3% 0;
  img {
    width: 50%;
  }
  p {
    padding: 0.5rem 2rem;
    span {
      color: #9bf57f;
      font-weight: 600;
      font-size: 1.5rem;
      font-style: italic;
      text-transform: uppercase;
    }
  }
}

.clientes {
  color: #2b2b2b;
  background-color: #f4f4f4;
  padding: 3% 0;
  h4 {
    font-size: 2rem;
    font-weight: 300;
    padding: 0 10% 1%;
  }
}

.logosClientes .cliente {
  padding: 1em;
}

.blog {
  .texto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    button {
      margin-top: 1rem;
      border-radius: 15px;
      border: 0;
      font-size: 1.3rem;
      color: white;
      background-color: #5d2bf4;
      padding: 0.4rem 8rem;
    }
  }
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
  .contenedor {
    position: relative;
    width: 80%;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
  }
}

footer {
  text-align: center;
  padding: 5% 10%;
  background-color: #5d2bf4;
  .botones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      font-size: 1.5rem;
    }
  }
  a,
  i {
    padding: 0 0.5rem;
  }
  p {
    padding-top: 3rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 1200px) {
  main .intro .intro1,
  main section {
    padding: 5% 5%;
  }
  main .intro .intro2 {
    padding: 0 5%;
  }
  .clientes {
    h4 {
      padding: 0 5% 1%;
    }
  }
}

@media (max-width: 992px) {
  main .intro .intro1 h1 {
    width: 100%;
  }
  .nosotros,
  .blog {
    flex-direction: column;
    img {
      width: 100%;
      padding-bottom: 1rem;
    }
    p {
      padding: 0.5rem 0;
    }
  }

  .slick-slide img {
    width: 150px;
  }

  .video {
    .contenedor {
      position: relative;
      width: 90%;
      height: 400px;
      border-radius: 15px;
      overflow: hidden;
    }
  }
}

@media (max-width: 768px) {
  header {
    padding: 0 5%;
  }

  header nav {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    background-color: #333333cc;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    gap: 0;
    display: none;
    backdrop-filter: blur(5px);
    z-index: 1000;
  }

  nav a {
    font-size: 1.2rem !important;
    padding: 1rem !important;
    width: 100%;
    text-align: center;
  }

  .hamburger {
    display: flex;
  }
}

.nav-active {
  display: flex !important;
}

.change .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.change .bar:nth-child(2) {
  opacity: 0;
}

.change .bar:nth-child(3) {
  transform: rotate(45deg) translate(-8px, -6px);
}

section .familias {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
section .familias .box1,
section .familias .box2 {
  bottom: -80px;
}
section .familias .box1,
section .familias .box2,
section .familias .box3,
section .familias .box4 {
  width: 90%;
}
.comprar .pasos {
  & .paso {
    img {
      height: 80px;
      margin: 3rem 0 2rem;
    }
  }
}

@media (max-width: 576px) {
  main .intro .intro1 h1 {
    font-size: 1.5rem;
  }
  main .intro .intro2 {
    padding: 5%;
    h2 {
      font-size: 1.5rem;
    }
    img {
      display: none;
    }
  }
  .comprar .pasos {
    flex-direction: column;
    .paso {
      width: 100%;
    }
    .separador {
      display: none;
    }
  }
  footer {
    padding: 5%;
    .botones {
      nav {
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
      }
    }
  }
}
